<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="title">
            Listado de productos
          </span>
          <button class="btn btn-success float-end" routerLink="/create-product">Nuevo</button>
          <table class="table table-striped mt-4">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Categoria</th>
                <th scope="col">location</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Computador</td>
                <td>tecnologia</td>
                <td>Bogota</td>
                <td>4.55</td>
                <td>
                  <i class="fas fa-edit me-2"></i>
                  <i class="fas fa-trash-alt"></i>
                </td>
              </tr>
              <tr>
                <td>Cables</td>
                <td>Tecnologia</td>
                <td>Cali</td>
                <td>8.60</td>
                <td>
                  <i class="fas fa-edit me-2"></i>
                  <i class="fas fa-trash-alt"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>